<div class="container">
  <% if notice.present? %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% end %>
  <div class="row">
    <h1 class="text-center">Calendar</h1>
  </div><br>
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
        <div id="calendar"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body" style="overflow: scroll; height: 700px;">
          <div class="row">
            <div class="col-md-5">
              <h4 class="card-title ">List all events</h4>
            </div>
            <div class="col-md-5" style="margin-bottom: 25px;">
              <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Create event
              </button>
            </div>
          </div>
          <% @calendars.each_with_index do |calendar, index| %>
          <div class="row">
            <div class="col-md-6">
               <p><%=index + 1%>) <%= calendar.event_name %> </p>
            </div><br>
            <div class="col-md-1" style="width: max-content;">
              <%= link_to 'Edit', edit_calendar_path(calendar), class: "btn btn-outline-primary" %>
            </div>
            <div class="col-md-1">
              <%= link_to 'Destroy', calendar, class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Create event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'form', calendar: @calendar %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<script>
  var events = []
  <% @calendars.each do |calendar| %>
  events.push({
    title: '<%=calendar.event_name%>',
    start: '<%=calendar.start_at&.strftime("%FT%R")%>',
    end: '<%=calendar.end_at&.strftime("%FT%R")%>',
    backgroundColor: '<%=calendar.tag_color%>',
    borderColor: '<%=calendar.tag_color%>',
  })
  <% end %>
  render_calendar(events)
</script>